node_modules/
data/
!client/src/data/
!client/src/data/*
uploads/
*.db
.env
dist/
public_dist/
client/node_modules/
.vercel
.env.vercel
tmp/
test-results/
client/tsconfig.tsbuildinfo
fluxer-logo-animation.svg
