node_modules/
data/
uploads/
*.db
.env
dist/
public_dist/
public/
client/node_modules/
.vercel
.env.vercel
tmp/
test-results/
client/tsconfig.tsbuildinfo
fluxer-logo-animation.svg
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
